{% extends 'baseusuario.html' %}

{% block digitandoinstituicao %}	
	<div style="position: absolute;" class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-3 main">
		<h2 style="color: brown">Buscar Instituição - Tipos específicos</h2>
			<table style="border: 1px solid;">
				{% for tipos in tipos %}
				<tr style="border: 1px solid;">
					<td style="border: 1px solid;"><a href="/buscandoinstituicao/{{tipos.id_ti}}">{{tipos.nome}}</a></td>
				</tr>
				{% endfor %}
			</table>
	</div>
{% endblock %}
