{% extends 'baseusuario.html' %}

{% block digitandoinstituicao %}

        <div style="position: absolute;" class="col-sm-9 col-sm-offset-4 col-md-9 col-md-offset-2 main">
	<div class="col-md-6 col-md-offset-2">
		<h2 style="color: brown">Digite o tipo da instituição desejada para buscarmos em nossos registros</h2>
		<form action="{{url_for('buscandoinstituicao')}}" method="POST">
		
		{{ form.csrf_token }}
		<div class="form-group">
			<label style="color: brown">Tipo:</label>
			<ul style="color: brown; border: 1px solid; border-radius: 10px">
				<li>1 - Família</li>
				<li>2 - Escola</li>
				<li>3 - Igreja</li>
				<li>4 - Economica</li>				
				<li>5 - Politica</li>
				<li>6 - Lazer</li>
				<li>7 - OGNS</li>
				<li>8 - Animais</li>
			</ul>
			{{form.tipo_i(class="form-control")}}	
			{%if form.errors.tipo_i%}
			<div class="alert alert-danger" role="alert">
			<ul>
			{% for e in form.errors.tipo_i %}
				<li>{{e}}</li>
			{% endfor %}
			</div>
			{%endif%}
		</ul>
		<p></p>
		<div>
			<button type="submit" class="btn btn-default"  style="background-color: #FFDEAD; color: brown">Informar</button>
		</div>
		</form>
		
	<h1>  </h1>
	</div>
        </div>
	
{% endblock %}
